body {

    p {
    font-family: verdana;
    font-size: 20px;
    }
     p {
    font-family: sans-serif;
    color: green;
    }
    p {

    color: blue;
    }

    <style>
	<link rel="stylesheet" type="text/css" href="myStyle.css">
    </style>
    </head>
    <body>